{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@300;400;500&display=swap">
{% endblock %}
<div id="nav_bar">
    <a id="gauche" href="homepage">
        <img id="image_logo" src="images/form_nav.png">
        <div id="logo">
            <img src="images/logo.png">
            <p>Culture2000</p>
        </div>
    </a>
    <div id="centre">
        <a href="homepage">Accueil</a>
        <a href="afficheRecherche">Nos Articles</a>
        <a href="accederAuPanier">Panier</a>
    </div>
    
    {% if app.user %}
        <a id="droite" href="account/index">Mon compte</a>
    {% else %}
        <a id="droite" href="login">Se connecter</a>
    {% endif %}
</div>
