

{% block body %}
{{include('header.html.twig')}}
<link rel="stylesheet" href="css/mentions.css" media="screen" />
<div id="bloc"></div>
<section id="mentions-legales">
    <h1>Mentions Légales</h1>
    <p>Ce site est édité par Johanne et Ewen, dont le siège social est situé à Laval.</p>
        
    <h2>Hébergement</h2>
    <p>Le site est hébergé en Local, 127.0.0.1</p>
    
    <h2>Propriété intellectuelle</h2>
    <p>Tous les contenus présents sur ce site, incluant, sans limitation, les graphiques, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</p>
    
    <h2>Contact</h2>
    <p>Pour toute question ou demande d'information concernant le site, ou tout signalement de contenu ou d'activités illicites, l'utilisateur peut contacter l'éditeur à l'adresse suivante : culture2000@gmail.com.</p>
</section>
{% endblock %}
